*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
.container_main{
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.nav{
  background: #0e151c;
  height: 10vh; /*viewportheight*/
}
.container_nav{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container_nav a{
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.hero{
  height: 90vh;
  background-image: url("./img/hero-3.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.title{
  width: 330px;
  text-align: center;
  padding: 25px;
  position: absolute;
  top: 40%;
  right: 10%;
  border: solid 1px white;
  border-radius: 25px; 
  color: #fff;
}

/* Center website */
.main h2{
margin-top: 30px;
text-align: center;
}
.paragraph{
text-align: center;
}
.main {
  max-width: 1000px;
  margin: auto;
  background: #eee;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.contimg{
  width: 310px;
  height: 185px;
}
.content img{
  width: 100%;
}
.content {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 10px 25px 45px -25px #656fff;
  padding: 10px;
}
.portfolioimg{
  border-radius: 25px;
}
.sobre_mi{
  display: flex;
}
.sobre_mi div{
  width: 48%;
}
.sobre_mi div img{
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
